<style>
  .foo {
    background: #F58425;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    font-weight: bold;
    gap: 40px;
  }
  .foo div {
    display: flex;
    align-items: center;
  }
  .foo div img {
    width: 40px;
    margin-right: 30px;
    transition: 0.3s;
  }
  .foo div:hover img {
    transform: rotate(360deg);
  }
</style>

<div class="foo">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0680/7129/3247/files/icons8-place-marker-100.png?v=1671566117" alt="">
    <p>ALL YOU NEED IN ONE PLACE</p>
  </div>
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0264/9862/9718/files/aeroplane_100x100_16536d16-fc22-486c-82bf-f46761332741_100x100.png?v=1570710144" alt="">
    <p>FREE WORLDWIDE SHIPPING</p>
  </div>
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0264/9862/9718/files/like_6_100x100.png?v=1570710494" alt="">
    <p>STAND OUT & BE BOLD</p>
  </div>
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0264/9862/9718/files/security_100x100_fbacfbee-e54c-422a-8e1e-49c172ba3327_100x100.png?v=1570710157" alt="">
    <p>100% SAFE & SECURE CHECKOUT</p>
  </div>
</div>