<style>
  button.stt {
    border: 1px solid;
    position: fixed;
    bottom: 30px;
    right: 10px;
    background: none;
    border-radius: 30px;
    padding: 14px 15px;
    z-index: 2;
  }
  button.stt:hover {
    background: orangered;
    color: white;
  }
</style>
<button class="stt" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>▲</button>
