<style>
  .p_tags {
    box-shadow: 0 3px 10px 0 #dedede;
    border-radius: 20px;
  }
  .servs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
  }
  .servs span {
    display: flex;
    font-size: 20px;
  }
  .servs p {
    margin: 0;
  }
  .servs span img {
    width: 35px;
    margin-right: 15px;
  }
  .pays {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    flex-wrap: wrap;
  }
</style>
<div class="p_tags">
  <div class="servs">
    <span>
      <img src="https://d5e8s8v77hgzv.cloudfront.net/popup_assets/graphic-icons/svg/icons8-earth-globe-100-2.svg" alt="">
      <p>Worldwide Shipping</p>
    </span>
    <span>
      <img src="https://d5e8s8v77hgzv.cloudfront.net/popup_assets/graphic-icons/svg/icons8-cotton-100.svg" alt="">
      <p>Quality Materials</p>
    </span>
    <span>
      <img src="https://d5e8s8v77hgzv.cloudfront.net/popup_assets/graphic-icons/svg/icons8-hand-with-a-heart-100-4.svg" alt="">
      <p>Selected with love</p>
    </span>
  </div>
  <div class="pays">
    <img src="https://productdescriptions.fun/description_assets/Payment-icons/paypal.svg" alt="">
    <img src="https://productdescriptions.fun/description_assets/Payment-icons/visa.svg" alt="">
    <img src="https://productdescriptions.fun/description_assets/Payment-icons/master-card.svg" alt="">
    <img src="https://productdescriptions.fun/description_assets/Payment-icons/apple_pay.svg" alt="">
    <img src="https://productdescriptions.fun/description_assets/Payment-icons/american_express.svg" alt="">
  </div>
</div>