<style>
  .not-found {
    display: flex;
    flex-direction: column;
  }
</style>
<div class="not-found">
  <h1>404</h1>
  <h1>Page Not Found</h1>
  <a href="/">
    <h1>Back to Home</h1>
  </a>
</div>
{% section 'mozik' %}