<h1>My Cart Items</h1>
{% comment %} {% render 'mozik' %} {% endcomment %}
{% comment %} {% section 'mozik' %} {% endcomment %}
{% comment %} {% render 'latest' %} {% endcomment %}

{% comment %} {% section 'colleps' %} {% endcomment %}

  <div style="max-width: 600px; margin: 50px auto;"> {% render 'cartitems' %}
</div>